@import "../../styles/variables";

.step {
  margin: 15px 0;
  border-radius: 3px;
  height: 32px;
  overflow: hidden;
  width: 960px;
  height: 32px;
  /*底色*/
  background-color: $gray5;
  .bread {
    /*centering*/
    display: inline-block;
    overflow: hidden;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
  }
  .bread div {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 32px;
    color: $white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 50px 0 103px;
    position: relative;
    cursor: default;
  }
  /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
  .bread div:first-child {
    padding-left: 90px;
  }
  .bread div:first-child:before {
    left: 60px;
  }
  .bread div:last-child {
    padding-right: 0px;
  }

  /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
  .bread div:after {
    content: "";
    position: absolute;
    top: 0;
    right: -16px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 32px;
    height: 32px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
		length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
		if diagonal required = 1; length = 1/1.414 = 0.707*/
    -webkit-transform: scale(0.707) rotate(45deg); // For safari
    -ms-transform: scale(0.707) rotate(45deg); // IE9 only
    -o-transform: scale(0.707) rotate(45deg);
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*stylish arrow design using box shadow*/
    /*箭頭顏色*/
    box-shadow: 1px -1px 0 1px rgba(255, 255, 255, 1);
    /*
			5px - for rounded arrows and 
			50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
  }
  /*we dont need an arrow after the last link*/
  .bread div:last-child:after {
    content: none;
  }
  /*we will use the :before element to show numbers*/
  .bread div:before {
    content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    text-align: center;
    font-size: $H5;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 6px 0;
    position: absolute;
    top: 0;
    left: 75px;
  }

  .bread div,
  .bread div:after {
    /*底色*/
    background-color: $gray5;
    /*文字顏色*/
    color: $gray2;
    transition: all 0.5s;
  }
  .bread div:before {
    /*數字顏色*/
    color: $white;
    /*數字底色*/
    background-color: $gray2;
    line-height: 21px;
  }
  .bread div.active,
  .bread div.active:after {
    /*目前文字顏色*/
    color: $white;
    /*目前底色*/
    background-color: $green-ez;
  }
  .bread div.active:before {
    /*目前數字顏色*/
    color: $green2;
    /*目前數字底色*/
    background-color: $green5;
  }
}
