@import "../../styles/variables";

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid $border-color-normal;
  a {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $border-color-normal;
    color: $text-color-gray;
    &:visited {
      color: $text-color-gray;
    }
  }
  a + a {
    margin-left: 10px;
  }
}

.content {
  max-height: 193px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: $border-color-split;
  }
}

.nav {
  list-style: none;
  padding-left: 0px;
  > li {
    > span {
      display: block;
      cursor: pointer;
      padding: 10px 10px 10px 30px;
      color: black;
    }
    ul {
      display: none;
    }
    &.active {
      > span {
        color: $white;
        background: $green-ez;
      }
      ul {
        display: block;
      }
    }
  }
  .subNav {
    list-style: none;
    padding-left: 0px;
    background: #eee;
    > li {
      > span {
        display: block;
        cursor: pointer;
        padding: 10px 10px 10px 30px;
        color: $text-color-normal;
      }
      &.active {
        > span {
          color: $green-ez;
        }
      }
    }
  }
}
