@import "../../styles/variables";

.bg {
  background-color: $green-light;
}

.title {
  font-size: $H1;
}

.menuWrapper {
  position: relative;
  background-color: #ccc;
  .tabWrapper {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
  }
  .mapWrapper {
    height: 300px;
    padding-left: 250px;
  }
}

.listWrapper {
  margin: 15px 0px 45px 0px;
}
