@import "../../styles/variables";

.bg {
  background-color: $green-light;
}

.block {
  border: 1px solid #ccc;
  padding: 15px;
  background: #fff;
  .showDetail {
    float: right;
    cursor: pointer;
  }
}

.block + .block {
  margin-top: 15px;
}
