@import "../../styles/variables";

.columnBox {
  display: flex;
  .title {
    flex: 0 0 120px;
  }
  .content {
    flex: 1 1 auto;
  }
}

.columnBox + .columnBox {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $border-color-normal;
}
