@import "../../styles/variables";

.tabWrapper {
  display: flex;
  flex-direction: row;
  .tab {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px;
    background-color: $gray6;
    cursor: pointer;
    &.active {
      background-color: $white;
    }
  }
}

.tabContentWrapper {
  .content {
    display: none;
    &.active {
      display: block;
    }
  }
}
