@import "../../styles/variables";

@mixin button() {
  width: 140px;
  height: 40px;
  outline: none;
  padding: 1em 1.33em; // 根據 font-size 決定 padding 高度
  line-height: 1;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.button {
  @include button();
  @include btn-loading();
  color: $white;
  border: 1px solid $green-ez;
}

.disabled {
  cursor: default;
}

.green {
  color: $white;
  background-color: $green-ez;
  border: 1px solid $green-ez;
  -webkit-box-shadow: 0 3px 0 0 $green2;
  box-shadow: 0 3px 0 0 $green2;
  &:hover {
    border: 1px solid $green2;
    background-color: $green2;
  }
}

.gray {
  color: $gray2;
  background-color: $white;
  border: 1px solid $gray4;
  -webkit-box-shadow: 0 3px 0 0 $gray4;
  box-shadow: 0 3px 0 0 $gray4;
  &:hover {
    background-color: $gray4;
  }
}
