@import "../../styles/variables";

.wrapper {
  position: absolute;
  width: 800px;
  max-height: 60%;
  background-color: $white;
  border: 1px solid $border-color-normal;
  display: flex;
  flex-direction: column;
  &:focus {
    outline: none;
  }
}

.title {
  position: relative;
  flex: 0 0 25px;
  padding: 10px 20px;
  border-bottom: 1px solid $green-ez;
  .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
  }
}

.content {
  flex: 1 1 auto;
  padding: 20px;
  overflow: auto;
  display: flex;
}

.scrollBox {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding-right: 15px;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: $border-color-split;
  }
}
