@import "../../styles/variables";

.block {
  display: flex;
}

.blockTitle {
  flex: 0 0 200px;
  padding: 20px 15px;
}

.blockContent {
  flex: 1;
  padding: 10px 0px;
}

.block + .block {
  border-top: 1px solid $border-color-split;
}

.countryList {
  display: flex;
  border-radius: 15px;
  padding: 10px;
  &:hover {
    cursor: pointer;
    background-color: $green-light;
    .more {
      color: $green-ez;
    }
  }
  .title {
    flex: 0 0 200px;
  }
  .days {
    flex: 1;
  }
  .more {
    flex: 0 0 100px;
    text-decoration: right;
  }
}

.countryList + .countryList {
  border-top: 1px dotted $border-color-split;
}
