@import "../../styles/variables";

.guideRow {
  margin: 15px 0;
  a,
  span {
    font-size: 13px;
    color: $text-color-gray;
    display: inline-block;
    padding-left: 10px;
  }
  .currentlyPage {
    color: $green-ez;
    cursor: default;
  }
  .pageStyle {
    &:hover {
      text-decoration: underline;
    }
  }
  .homeIcon {
    padding: 0;
    width: 12px;
    height: 12px;
    background-image: url("/static/images/icon/bread-home.png");
    &:hover {
      background-image: url("http://3w.eztravel.com.tw/static/images/icon/bread-home-hover.png");
    }
  }
}
