@import "../../styles/variables";

.bg {
  background-color: $green-light;
}

.title {
  font-size: $H1;
}

.des {
  background-color: $white;
  padding: 15px;
  margin-bottom: 15px;
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
}

.wrapper {
  background-color: $white;
  padding: 10px;
  margin-bottom: 25px;
}
