$green-ez: #55d040;
$green2: #119d36;
$green3: #6dce5d;
$green4: #e2f2e2;
$green5: #f5faee;
$green-light: #eef2f3;

$orange1: #ff6600;
$orange2: #ff9900;
$orange3: #ffa31c;
$orange4: #ffefe5;

$red1: #d0021b;
$red2: #f95574;
$red3: #ff708b;

$blue1: #0076ff;
$blue2: #0092ff;
$blue3: #00c6ff;

$gray1: #222222;
$gray2: #666666; // #color3 rgb(102, 102, 102)
$gray3: #999999;
$gray4: #bbbbbb;
$gray5: #e3e3e3;
$gray6: #f3f3f3;
$white: #ffffff;
$black: #000000;

$prodDateInfoBg: linear-gradient(to right, rgb(85, 208, 64), rgb(68, 202, 103));

// ====== 文字 ======
$text-color-normal: $gray1;
$text-color-gray: $gray2; // #color3 rgb(102, 102, 102)
$text-color-hint: $gray3;
$text-color-hint-light: $gray4;
$text-color-prime: $green2;
$text-color-price: $orange1;
$text-color-link: $blue1;

// ====== 月曆 ======
$calendar-color-prime: $green-ez;
$calendar-color-selected-bg: $green4;
$calendar-color-text-holiday: $blue1;
$calendar-color-text-gray: $gray1;
$calendar-color-text-disabled: $gray4;
$calendar-color-text-info: $gray2;
$calendar-color-text-price: $orange1;

// ====== 外框 ======
$border-color-normal: $gray4;
$border-color-ad: $gray5;
$border-color-app-tag: $blue1;
$border-color-price: $orange1;
$border-color-other: $green-ez;
$border-color-split: $gray5;
$border-color-prime: $green2;
