@import "./colorDictionary";

body {
  margin: 0;
  font-family: Gudea, Heiti, 微軟正黑體, Microsoft JhengHei;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

footer.hnfcommon {
  margin-top: 0px;
}

a {
  display: block;
  text-decoration: none;
  color: $text-color-normal;
}
