@import "./colorDictionary";

$containerMinWidth: 320px;
$containerMaxWidth: 768px;
$containerMinHeight: 330px;
$containerWidthS: 768px;
$containerWidthSMinWidth: 1024px;
$containerWidthM: 960px;
$containerWidthMMinWidth: 1280px;
$containerWidthL: 1280px;
$containerWidthLMinWidth: 1680px;

// 邊界・間距
$gap-layout: 1rem;
$gap-context: 1.6rem;

// 語意化z-index
$zIndex-under: -1;
$zIndex-reset: 0;
$zIndex-over-original: 1;
$zIndex-over-previous: 2;
$zIndex-button-fixed: 2;
$zIndex-over-previous-cover: 3;
$zIndex-navigation: 4;
$zIndex-navigation-over: 5;
$zIndex-under-modal: 99;
$zIndex-modal: 100;
$zIndex-over-modal: 101;
$zIndex-alert: 200;

// 字級大小-PC
$H1: 24px;
$H2: 20px;
$H3: 18px;
$H4: 15px;
$H5: 13px;
$H6: 13px;

// 圓角設定
$border-radius-rounded: 50%;

// background spinner 的固定樣式，$color = { green || orange || white }
@mixin btn-loading($color: "") {
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: 2.8rem 2.8rem;
  &.loading {
    color: transparent !important;
    background-position: center center;
    > svg {
      opacity: 0;
    }
  }
}
